/* Create two equal columns that floats next to each other */
 .column {
    float: left;
    width: 50%;
    
  }

h2 {
    color:red;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  } 

  .ui-widget-header,.ui-state-default, ui-button {
    background:#161494;
    border: 1px solid #0e1102;
    color: #FFFFFF;
    font-weight: bold;
 }