html, body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.newPeeHeader {
    height: 7%;
    margin: 0%;
    padding-left: 3%;
    background-color: #0d0630;
    overflow: auto; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.newPeeHeader img{
    margin: 0%;
    padding: 0%;
    height: 80%;
    width: auto;
    border: 2px solid #36558f;
    border-radius: 20%;
}

.newPeeHeader p {
    color: white;
}

/*Resize the wrap to see the search bar change!*/
.newPeeHeaderIcons{
  display: flex;
  margin-right: 5%;
}

.newPeeHeaderIcons i{
  flex: 50%;
  margin-left: 20%;
  color: white;  
  font-size: 28px;
  display: inline-block;
}

.newPeeHeaderIcons i:hover{
    color: #36558f;  
}



.search {
  display:block;
  width: 30%;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
  clear: both;
}

.form-control{
  height: 30px;
}

.search button {
  float: right;
  height: 30px;
  position: absolute;
  right: 0;
  top:0;
  border-radius:3px;
}


