html, body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

#header-borders {
  border-radius: 0px;
  /* border-bottom: 0.1rem solid #e6f9af; */
}

.bg-color{
  background-color: #18314f;
}

.newPeeHeaderImg{
  border: 0.1rem solid #8bbeb2;
  border-radius: 20%;
}

.newPeeHeaderIcons{
  width: 120px;
}

.newPeeHeaderIcons i{
  background-color: #18314f;
  color: #8bbeb2;  
  font-size: 28px;
  display: inline-block;
  margin-left: 10%;
}

.newPeeHeaderIcons i:hover {
    color: #e6f9af;    
}

#line {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  top: 4.8rem;
  background: linear-gradient(-90deg, #18314f, #36558f, #8bbeb2, #e6f9af);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown{
  background-color: #18314f;
}

.search {
  display:block;
  width: 30%;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
  clear: both;
}

.form-control{
  height: 30px;
}

.search button {
  float: right;
  height: 34px;
  position: absolute;
  right: 0;
  top:0;
  border-radius:3px;
}

.col-1{
  margin:0%;
}

.navbar-brand {
  padding: 0%;
  float: left;
}

.mr-auto{
  margin-left: 3%;
}

.ml-auto{
  margin-right: 3%;
}

.icon-wrapper{
  position:relative;
  float:left;
}

.badge{
  background: rgba(0,0,0,0.5);
  width: auto;
  height: auto;
  position:absolute;
  left:-8px;
}

.btn-header{
  background: #8bbeb2; 
  color: #0d0630;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}