.card {
    background: #36558f;
    border: 0rem solid transparent;
}

.form-control {
    background: #e6f9af;
}

.form-control::placeholder {
    color: rgba(54, 85, 143, 0.75);
}

.btn-primary {
    background: #8bbeb2;
    color: #18314f;
}

.btn-primary:hover {
    background: #e6f9af;
    color: #18314f;
}

.tabb {
    background: #8bbeb2;
    border-radius: 4px 4px 0px 0px;
    border: 0px;
    margin-right: 2px;
    color: #18314f;
}

.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #e6f9af;
}

.other_author{
    float: right;
}

span {
    color: white;
}

/* Clearable text inputs */
.clearable{
    content:'H';    
    background: #e6f9af url(https://findicons.com/files/icons/1018/pixelicious/32/add.png) no-repeat right --5px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
  }
  .clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
  .clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
  .clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X 