p{
    margin: 0%;
    padding: 0%;
    color: black;
}

.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
    margin-left: 0%;
    margin-right: 0%;
}

.content{
    display: inline-block;
    box-sizing: border-box;
    width: 900px;
    height: 100%;
    margin-top:2%;
    margin: auto;
}

.fileupload{
    display: block;
    float: left;
    
}

.profile-pic{
    padding: 0%;
    width:100%;
    height: auto;
    border:1px solid grey;
    border-radius: px;
}

.profile-pic img{
    margin: 0%;
    padding: 0%;
    width:100%;
    height: 200px;
    object-fit: cover;
}




.username p{
    color: #0d0630;
    font-weight: bold;
    font-size: 24pt;
}

.other-info a{
    width: 100%;
    word-wrap: break-word;
}
.stats{
    width: 100%;
    margin-top: 5% ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;  
}

.stat {
    width: 30%;
    float: none;
    margin:0%;
    word-wrap: break-word;
}

.stat p{
    font-size: 12pt;
    text-align: center;
    margin: 0%;
}

.posting-outter{
    padding: 1% 2% 1% 2%;
    width: 100%;
    height: 350px;
    border:1px solid grey;
    border-radius: 5px;
    margin-bottom: 15px;
}


.posting button{
    display:block;
    float: right;
    width: 100px;
}

.comment img{
    width: 30px;
    height: 30px;
}

#btnfileupload {
    float: left;

}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}