#cardd {
    background: #18314f;
    border: 0.2rem solid #36558f;
    color: #ffffff;
}

#cardd:hover {
    border: 0.2rem solid #8bbeb2;
}

.card-header {
    background: #36558f;
}

#display-name {
    color: #e6f9af;
}

#post-date {
    color: #e6f9af;
}