.custom-card {
    background: #18314f;
    border: 0.2rem solid #36558f;
    color: #ffffff;
}

.custom-card:hover {
    border: 0.2rem solid #8bbeb2;
    cursor: pointer;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.card-header {
    background: #36558f;
}

#display-name {
    color: #e6f9af;
}

#post-date {
    color: #e6f9af;
}

#description-title {
    font-weight: bold;
    color: #e6f9af;
}