.authorList {
    color: #e6f9af;
}

.authorDisplayName {
    text-decoration: #ffffff;
}

.displayNothing {
    color: #ffffff;
}

.friends-page-title {
    color: #8bbeb2;
}

hr {
    height: 1px;
    color: #36558f;
    background: #36558f;
    font-size: 0;
    border: 0;
}

.authorDisplayName {
    color: #ffffff;
}

#accept_Post_Button {
    color: #8bbeb2;
}

#accept_Post_Button:hover {
    color: #e6f9af;
    font: 700;
}