html, body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.newPeeHeader {
    height: 7%;
    margin: 0%;
    padding-left: 3%;
    background-color: #0d0630;
    overflow: auto; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.newPeeHeader img{
    margin: 0%;
    padding: 0%;
    width: 3%;
    height: auto;
    border: 2px solid #36558f;
    border-radius: 20%;
}

.newPeeHeader p {
    color: white;
}



/*Resize the wrap to see the search bar change!*/


.newPeeHeaderIcons{
  width: 10%;
}

.newPeeHeaderIcons i{
    padding:2%;
    color: white;  
    font-size: 28px;
}

.newPeeHeaderIcons i:hover{
    color: #36558f;  
}


.search {
  padding: 5px 0;
  width: 30%;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
}

.form-control{
  height: 30px;
}

.btn {
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  border-radius:1px;
}
