p{
    margin: 0%;
    padding: 0%;
    color: black;
}

.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100%;
}

.content{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    margin-top:2%;
}

.profile{
    display:block;
    box-sizing: border-box;
    float: left;
    width: 27%;
    height: 100%;
    border-radius: 10px;
    padding-left:2%;
    padding-right:2%;
    word-wrap: break-word;
}

.stream{
    display:block;
    box-sizing: border-box;
    float: right;
    width: 73%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    padding: 0%;
}

.profilePic{
    padding: 0%;
    width: 100%;
    height: 30%;
    border:1px solid grey;
    border-radius: px;
}

.profilePic img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.username p{
    color: #0d0630;
    font-weight: bold;
    font-size: 24pt;
}

.stats{
    margin-top: 5% ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.stat p{
    font-size: 12pt;
    text-align: center;
}

.postingOutter{
    padding: 1% 2% 1% 2%;
    width: 100%;
    height: 250px;
    border:1px solid grey;
    border-radius: 5px;
}


.posting button{
    display:block;
    float: right;
    width: 100px;
}

.comment img{
    width: 30px;
    height: 30px;
}