{% extends 'header.html' %}
{% load rest_framework %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% block baseHead%} {% endblock %}

{% endblock %}

{% block content %}

<body class="main-background">
    <div class="container">

        <input type="hidden" id="userID" value={{ logged_in_author.id }}>

        {% block rightColumn %}
        {% endblock %}

    </div>
</body>

{% endblock %}