{% extends 'header.html' %}
{% load rest_framework %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% block baseHead%} {% endblock %}

{% endblock %}

{% block content %}
<div class="container">

    <input type="hidden" id="userID" value={{ logged_in_author.id }}>


    <div class="col-11 row m-4">

        <!--left column-->
        <div class="col-3 mx-auto">
            <div class="profile-pic">
                {% if user.picture %}
                    <img src="{{user.picture}}" alt="profile picture">
                {% else %}
                    <img src="{% static 'imgs/logo.png' %}" alt="profile picture">
                {% endif %}
            </div>
            <div class="username">
                {% if author %}
                    <p>{{author.displayName}}</p>  
                {% else %}
                    <p>{{logged_in_author.displayName}}</p>
                {% endif %}
            </div>
            <div class="stats">
                <div class="stat">
                    {% if author %}
                        <p>{{author.posts_created}}</p>
                    {% else %}
                        <p>{{logged_in_author.posts_created}}</p>
                    {% endif %}
                    <p>posts</p>
                </div>
                <div class="stat">
                    {% if author %}
                        <p>{{author.followers|length}}</p>
                    {% else %}
                        <p>{{logged_in_author.followers|length}}</p>
                    {% endif %}
                    <p>followers</p>
                </div>
                <div class="stat">
                    {% if author %}
                        <p>{{author.following|length}}</p>
                    {% else %}
                        <p>{{logged_in_author.following|length}}</p>
                    {% endif %}
                    <p>following</p>
                </div>
                
            </div>
            <div class="other-info">
                {% if author.bio %}
                    <p>{{author.bio}}</p>
                {% endif %}
                {% if author.github_url %}
                    <a href="{{author.github_url}}">{{author.github_url}}</a>
                {% endif %}
                <hr>


                {% if author.user.username == user.username %}
                <button type="button" class="btn btn-primary col-12" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile</button>
                {% else %}
                <form id="follow_user_submit" method="Post">

                    <button type="submit" id="follow_user_submit_button" class="btn btn-primary col-12">Follow</button>
                {% endif %}

                </form>
                {% include "./edit_profile_modal.html" %}
            </div>
        </div> 

        <!--right column-->
        {% block rightColumn %}
        {% endblock %}
    
    </div>
</div>

{% endblock %}