
<div class="modal fade-scale" id="change_profile_pic_modal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #8bbeb2;">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Select New Profile Image</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="change_profile_pic_submit">
          <input id="select-profile-pic" type="file"/>
          <button type="submit" id="change-profile-pic-save" class="btn btn-primary" aria-label="Close">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- style="width: 32rem; height: 12rem;"
style="height: 4rem; width: 16rem; display: block; margin-top: 2rem;" -->