<div class="modal fade-scale" id="edit_profile_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Edit Profile</h2>
        <button type="button" id="edit-profile-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="author-display-name" class="form-control mb-2" placeholder="Display name">
        <input type="text" id="author-bio" class="form-control mb-2" placeholder="Bio">
        <input type="text" id="author-github" class="form-control mb-2" placeholder="GitHub URL">
        <form id="edit_profile_submit">
          <button type="submit" id="edit-profile-save" class ="btn btn-primary" aria-label="Close">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>