{% extends 'base.html' %}
{% load static %}
{% block baseHead %}

<script src="{% static 'scripts/home.js' %}"></script>

{% endblock %}
{% block rightColumn %}

<div class="col-9 mx-auto">

    {% for post in pages %}
        {% include "./post_card_view.html" with post=post%}
    {% endfor %}

    <footer>
        <div class="col-md-12 text-center">
            <ul class="pagination">
                <!-- <span class="step-links"> -->
                {% if pages.has_previous %}
                    <li><a href="?page={{ pages.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}

                {% if pages.number|add:'-3' > 1 %}
                    <li><a href="?page={{ pages.number|add:'-4' }}">&hellip;</a></li>
                {% endif %}

                {% for page in pages.paginator.page_range %}
                    {% if pages.number == page %}
                        <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                    {% elif page > pages.number|add:'-4' and page < pages.number|add:'4' %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if pages.paginator.num_pages > pages.number|add:'3' %}
                    <li><a href="?page={{ pages.number|add:'4' }}">&hellip;</a></li>
                {% endif %}

                {% if pages.has_next %}
                    <li><a href="?page={{ pages.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
            </ul>
        </div>
    </footer>
</div>

{% endblock %}