<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block baseHead %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{% static 'scripts/friends.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styles/search.css' %}" />

<script>
        var user_id = "{{current_author.id}}";
        var user_host = "{{current_author.host}}";
        var user_displayName ="{{current_author.displayName}}";
        var user_url = "{{current_author.url}}";
        console.log(user_id);
</script>

{% endblock %}
{% block rightColumn %}

<div class="col-9 mx-auto">
    <h1 class="friends-page-title"> Friends </h1>

    {% for author in friends %}

    <div class="authorPost">
      <h2 class="authorDisplayName">

        {{ author.displayName }}

      </h2>
        <hr>
    </div>

    {% endfor %}
    {% if authors %}

    <span >{{ user_author }}</span>
    <h1> Friend requests</h1>

    {% for author in authors %}

    <div class="authorPost">
        <hr>
        <div class ="text-right">
            <button id="accept_Post_Button" type="submit" class="btn btn-info btn-sm ">Accept </button>
            <button  id="decline_Post_Button" type="submit" class="btn btn-danger btn-sm"> Decline</button>
        </div>
        <h2 class="authorDisplayName">{{ author.displayName }} sent a friend request.</h2>
        <span id="author_id"> {{ author.id }} </span>
        <a href="/authors/{{author.id}}">{{ author.user.first_name }} {{ author.user.last_name }}</a>
    </div>

    {% endfor %}
    {% else %}

    <div class="foundNoAuthors">
        <hr>
        <h2 class="displayNothing">You have no Friend Requests, try making some friends!</h2>
    </div>
    {% endif %}
    <br>
</div>

{% endblock %}