{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>NewPee</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'imgs/logo.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- <script src="{% static 'scripts/base.js' %}"></script> -->
        <script src="{% static 'scripts/header.js' %}"></script>

        {% block head %}{% endblock %}

    </head>
    <span hidden = "true" id="userIDSpan">{{ current_author.id }}</span> 
    <body>
      <nav class="navbar bg-color justify-content-center navbar-fixed-top" id="header-borders">
        <a class="newPeeHeaderImg mr-auto" href="{% url 'feed' %}">
          <img src="{% static 'imgs/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        </a>

        <div class="search mx-auto">
          <form method="GET">
              {{ form.search }}
              <datalist id="ajax_authors"></datalist>
              <button type="submit" class="btn btn-header btn-sm" style="border-radius: 0px 3px 3px 0px;"><i class="fa fa-search"></i></button>
          </form>
        </div>

        <div class="newPeeHeaderIcons ml-auto">
          <div class="row">
              <a href="{% url 'get_author' %}"><i class="fa fa-user-circle fa-fw" id="profile_icon" aria-hidden="true"></i></a>


              <!-- <span id="badge_number" class="badge"></span>
            </div> -->
          <a href="{% url 'friends' %}">  <i class="fas fa-user-friends fa-fw" ></i>



        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw" id="logout"></i></a>
      </div>
      </div>
      <div id="line">
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </body>
</html>
