{% extends 'header.html' %}
{% load rest_framework %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">

        {% comment %} left block {% endcomment %}
        <div class="profile">
            <div class="profilePic">
                <img src="{% static 'Logo.png' %}" alt="Logo">
            </div>
            <div class="username">
                <p>NEWPEEEE</p>
                <!-- {{ data }} -->
                {% for author in authors %}
                <li>{{ author.id }}</li>
                {% endfor %}
            </div>
            <div class="stats">
                <div class="stat"><p>32</p><p>posts</p></div>
                <div class="stat"><p>4</p><p>followers</p></div>
                <div class="stat"><p>4</p><p>following</p></div>
            </div>
           <a href="https://github.com/CMPUT404W19T3/NewPee">https://github.com/CMPUT404W19T3/NewPee</a>
        </div>

        {% comment %} right block {% endcomment %}
        <div class="stream">
            <div class="postingOutter">
                <div class="postingInner">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pull-tab" data-toggle="tab" href="#pull" role="tab" aria-controls="pull" aria-selected="false">Pull from GitHub</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">Post</div>
                    <div class="tab-pane fade" id="pull" role="tabpanel" aria-labelledby="pull-tab">Pull</div>
                    </div>
  
                </div>
            </div>
            <div class="postingOutter">post</div>
        </div>

    
    </div>
</div>

{% endblock %}