{% extends 'base.html' %}
{% load static %}

{% block baseHead %}

<script src="{% static 'scripts/home.js' %}"></script>

{% endblock %}
{% block rightColumn %}

<div class="col-9 mx-auto">
    <div class="card posting">
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#posting">Post</a></li>
                <li><a data-toggle="tab" href="#github">GitHub</a></li>
            </ul>
            <br>

            <div class="tab-content">
                <div id="posting" class="tab-pane fade in active">    
                    <input type="text" id="post-title" class="form-control mb-2" placeholder="Title">
                    <textarea class="form-control mb-2" rows="2" id="post-comment-description" placeholder="Write your description here."></textarea>
                    <textarea class="form-control mb-2" rows="4" id="post-comment-content" placeholder="Write your content here."></textarea>  


                    {% include "radio_buttons.html" %}

                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="markdown" value="text/markdown">
                        <label class="form-check-label" for="friends-radio-option">Markdown</label>
                    </div>

                    
                            
                    <div class="file_upload">
                        <form method="post" enctype="multipart/form-data" data-ajax="false">
                            {% csrf_token %}
                            <input type="file" name="myfile" onchange="getFileData(this)">
                            <button type="submit" id = "btnfileupload" class="btn btn-primary">upload file</button>
                                    
                        </form>
                    </div>
                            
                    {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}

                    <!-- home.js handles form submission-->
                    <form id="post_creation_submit">
                        <button type="submit" class ="btn btn-primary">Post</button>
                    </form>
                </div>

                <div id="github" class="tab-pane fade">

                    {% include "radio_buttons.html" %}

                    <form id="github_api_pull">
                        <button type="submit" class="btn btn-primary">Github</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

            {% if pages %}
            {% for page in pages %}
                {% include "./post_card_view.html" with post=page%}
                
            {% endfor %}
            {% endif %}

            
        <div class="col-md-12 text-center">
            <ul class="pagination">
                <!-- <span class="step-links"> -->
                {% if pages.has_previous %}
                    <li><a href="?page={{ pages.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}


                {% if pages.number|add:'-3' > 1 %}
                    <li><a href="?page={{ pages.number|add:'-4' }}">&hellip;</a></li>
                {% endif %}


                {% for page in pages.paginator.page_range %}
                    {% if pages.number == page %}
                        <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                    {% elif page > pages.number|add:'-4' and page < pages.number|add:'4' %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if pages.paginator.num_pages > pages.number|add:'3' %}
                    <li><a href="?page={{ pages.number|add:'4' }}">&hellip;</a></li>
                {% endif %}

                {% if pages.has_next %}
                    <li><a href="?page={{ pages.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
            
                    <!-- {% if pages.has_next %}
                        <a href="?page={{ pages.next_page_number }}">next</a>
                        <a href="?page={{ pages.paginator.num_pages }}">last &raquo;</a>
                    {% endif %} -->
                <!-- </span> -->
            </ul>
        </div>
        
      
</div>

{% endblock %}