{% extends 'base.html' %}
{% load static %}
{% load markup_tags %}

{% block baseHead %}
<script src="{% static 'scripts/post.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styles/create_post.css' %}">

<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

{% endblock %}

{% block rightColumn %}
{% load parse_iso %}
<div class="col-9 mx-auto">

 <div class="card" style="margin:0" id="posts/{{ post.id }}">
    <div class="card-header">

      <p>{{ posts.title }}</p>
      <h6 class="card-subtitle mb-2">{{ posts.post_date|parse_iso }}</h6>

      <div class ="text-right">

            {% if logged_in_author == posts.author %}
            <form action="/authors/" >
              <button id="remove_post_submit" type="submit" class="btn btn-danger btn-sm"> Delete</button>
            </form>
            {% endif %}


    </div>
  </div>

  
  <div class="card-body">
  <p class="card-subtitle mb-2" style="font-weight: bolder; color: #e6f9af">Description: </p>
  <p class="card-text">{{posts.description}}</p><br>
  <p class="card-subtitle mb-2" style="font-weight: bolder; color: #e6f9af">Content: </p>
  
  {% if posts.content_type == "text/plain"%}
    <p class="card-text">{{ posts.content }}</p>
  {% elif posts.content_type == "text/markdown" %}
    {{ posts.content |apply_markup:"markdown" }}
  {% elif posts.content_type == "image" %}
    <img class="img-fluid" src={{ posts.content }} >
  {% endif %}
</div>
  {% include "comment.html" %}
  {% include "add_private_modal.html" %}
</div> 

{% endblock %}