{% load static %}
{% block head %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/post_card_view.css' %}"/>
{% endblock %}

{% block content %}

{% load parse_iso %}

 <div class="card custom-card" data-toggle="modal" id="posts/{{ post.id }}" >
    <div class="card-header">
        <span id="post-date">{{ post.title }}</span>
        <span style="margin-left:1rem; margin-right:1rem; color: #8bbeb2">|</span>
        <span class="card-subtitle mb-2" id="post-date">{{ post.post_date|parse_iso }}</span>
    </div>  
    <div class="card-body">
        <h6 class="card-subtitle mb-2" id="display-name">{{ post.author.displayName }}</h6>
        <p class="card-text" id="description-title">Description:</p>
        <p class="card-text" id="description">{{post.description}}</p>
    </div>
   
</div>

{% endblock %}