
{% extends 'base.html' %}
{% load static %}
{% load markup_tags %}

{% block baseHead %}
<script src="{% static 'scripts/post.js' %}"></script>
{% endblock %}



{% block rightColumn %}
<div class="col-9 mx-auto">
 <div class="card" style="margin:0" id="posts/{{ post.id }}">
    <div class="card-header">
        
        <form  id="remove_post_submit">
        {{ posts.title }}
        <button  type="submit" class="close"> Delete</button>
        </form>

    </div>
        <div class="card-body" style="margin:0">
        <h6 class="card-subtitle mb-2 text-muted">Posted by {{ posts.author.displayName }} from {{ posts.author.host }} at {{ posts.post_date}}</h6>
        <p class="card-text">
        <p class="card-subtitle mb-2 text-muted">Description: </p>
        {{posts.description}}</p>
        <p class="card-text">
        <p class="card-subtitle mb-2 text-muted">content: </p>
        {% if posts.content_type == "text/markdown"%}
          {{ posts.content |apply_markup:"markdown"  }}
        {% else %}
          {{posts.content}}</p>
        {% endif %}
    </div>
  </div>
  {% include "comment.html" %}
</div> 

{% endblock %}