{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}


{% block baseHead %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/search.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{% static 'scripts/search.js' %}"></script>
{% endblock %}

{% block rightColumn %}
<div class="col-9 mx-auto">
 
    <h1 class="authorList">
    Authors
</h1>
{% if authors %}
{% for author in authors %}
<div class="authorPost">
    <hr>
    <h2 class="authorDisplayName">
        {{ author.displayName }}
    </h2>
    <p class="authorName">
        {{ author.user.first_name }} {{ author.user.last_name }}
    </p>
</div>
{% endfor %}
{% else %}
<div class="foundNoAuthors">
    <hr>
    <h2 class="displayNothing">No Authors were found with that search term!</h2>
</div>
{% endif %}
<br>
</div>


{% endblock %}
